theme = "ananke"
baseURL = "https://hugo-blog12.netlify.app/"
title = "CareerCompass"
languageCode = "en-us"
enableRobotsTXT = true
[sitemap]
  changefreq = "weekly"
  priority = 0.5
  filename = "sitemap.xml"
[markup.goldmark.renderer]
unsafe = true
[params]
  author = "Abdul Waheed" 
[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "About"
    url = "/about/"
  [[menu.main]]
    name = "Contact"
    url = "/contact/"
    weight = 3